site
Projetos/C-UnidadeLogicaAritmetica/vunit_out
Projetos/C-UnidadeLogicaAritmetica/__pycache__
Projetos/D-LogicaSequencial/vunit_out
Projetos/D-LogicaSequencial/__pycache__
Projetos/E-Assembly/__pycache__
Projetos/E-Assembly/tests
Projetos/F-Computador/vunit_out
Projetos/F-Computador/bin
Projetos/F-Computador/Z01-Simulator-RTL